# .gitignore

# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
venv/
venv-py310/
venv/
env/
.venv/

# Streamlit/IDE
.streamlit/
.idea/
.vscode/

# Data files
*.csv
*.xlsx
*.parquet

# Configs
.env
*.env

# Logs
*.log

# Models
*.pt
*.bin
*.h5

# Docker
*.db
